@import "purecss/build/base-min.css";
@import "purecss/build/grids-min.css";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    font-size: 14px;
    line-height: 1;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: #f7f7f7;
}
html .pure-g [class *="pure-u"] {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ul, ol { list-style: none; }
em { font-style: normal; }
input { -webkit-appearance: none; border: 0; outline: none; background: transparent; color: inherit; }
.text-ellipsis { display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* text-line-ellipsis + -webkit-line-clamp */
.text-line-ellipsis { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; }
.noscroll, .noscroll body { overflow: hidden; }
.noscroll body { position: relative; }