@import "./../style.css";

@media screen and (min-width: 768px) {
    body { position: relative;}
    .home-header {
        position: fixed;
        height:60px;
        left: 0;
        width: 100%;
        top: 0;
        font-size:15px;
        font-weight: bold;
        color: #8590a6;
        background: #fff;
        border-bottom: 1px solid rgba(30,35,42,.06);
        box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
        transition: all .8s;
        z-index:100;
    }
    .home-header .self-name {
        width:200px;
        position: absolute;
        left:0;
        top: 0;
        padding: 10px  0 0 30px;
        background: #fff;
    }
    .home-header .self-name img {
        display: inline-block;
        height:40px;
        width:40px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .home-header .self-name .name-text {
        display: inline-block;
        padding-left:20px;
        line-height:40px;
    }
    .home-header .other-modules {
        text-align: right;
        padding:10px 30px 10px 0;
        opacity: 1;
        white-space: nowrap;
    }
    .home-header .other-modules .module-item {
        display: inline-block;
        padding:0 10px;
        line-height:40px;
        cursor: pointer;
    }
/*关闭态*/
    .home-header.close{
        width:100px;

    }
    .home-header.close .self-name{
        width:100px;

    }
    .home-header.close .other-modules{
        opacity: 0;
    }
    .home-header.close .name-text{
        display: none;
    }

    /*主题部分=============================*/
    /*个人简介------------------------------*/
    .simple-intro {
        position: absolute;
        top:0;
        left:20%;
        width:600px;
        margin: 100px auto;
        background: #fff;
        padding:30px 15px;
        border:1px solid #eee;
        border-radius: 4px;
        transform: rotateZ(-5deg);
        transform-origin: 100% 0;
        opacity: 1;
        transition: all 2s;
    }
    .simple-intro p {
        font-size:14px;
        color: #8590a6;
        line-height:2.4;
    }
    .simple-intro button {
        display: block;
        position: absolute;
        width:80px;
        height:40px;
        line-height:38px;
        text-align: center;
        font-weight: bold;
        right:30px;
        bottom:30px;
        background: #eee;
        border-radius: 2px;
        border:1px solid #ddd;
        transform: rotateZ(0deg);
        transform-origin: 0 0;
        animation: shake .5s ease 0s infinite alternate;
    }
    .simple-intro button:hover {
        animation: none;
        transform: rotateZ(10deg);
    }
    /*button 动画*/
    @keyframes shake
    {
        0%   {transform: rotate(5deg)}
        100%  {transform: rotate(10deg)}
    }

    /*技能面板------------------------------*/
    .profession-skills {
        position: absolute;
        left:20%;
        top:0;
        width:600px;
        margin: 100px auto;
        background: #fff;
        padding:30px 15px;
        border:1px solid #eee;
        border-radius: 4px;

        opacity: 1;
        transition: all 2s;
    }
    .profession-skills .skill-item {
        font-size:14px;
        color: #8590a6;
        line-height:2.4;
    }

    /*向左飘走的状态*/
    .flow-left {
        left: -100%;
        opacity: 0;
    }
    /*向右飘走的状态*/
    .flow-right {
        left: 100%;
        opacity: 0;
    }
}
