@import "./../style.css";

@media screen and (min-width: 768px) {
    body{height:120vh}
    .home-header {
        position: fixed;
        height:60px;
        left: 0;
        width: 100%;
        top: 0;
        font-size:15px;
        font-weight: bold;
        color: #8590a6;
        background: #fff;
        border-bottom: 1px solid rgba(30,35,42,.06);
        box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
        transition: all .8s;
    }
    .home-header .self-name {
        width:200px;
        position: absolute;
        left:0;
        top: 0;
        padding: 10px  0 0 30px;
        background: #fff;
    }
    .home-header .self-name img {
        display: inline-block;
        height:40px;
        width:40px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .home-header .self-name .name-text {
        display: inline-block;
        padding-left:20px;
        line-height:40px;
    }
    .home-header .other-modules {
        text-align: right;
        padding:10px 30px 10px 0;
        opacity: 1;
        white-space: nowrap;
    }
    .home-header .other-modules .module-item {
        display: inline-block;
        padding:0 10px;
        line-height:40px;
        cursor: pointer;
    }
/*关闭态*/
    .home-header.close{
        width:100px;

    }
    .home-header.close .self-name{
        width:100px;

    }
    .home-header.close .other-modules{
        opacity: 0;
    }
    .home-header.close .name-text{
        display: none;
    }
}
